<%= form_with model: [ @blog_post, @blog_post.comments.build ] do |form| %>

 <% if form.object.errors.any? %>
  <% form.object.errors.full_messages.each do |message| %>
  <div> <%= message%> </div>
  <% end%>
  <% end%>

  <p>
    <% if user_signed_in?%>
    <%= form.hidden_field :commenter , value: current_user.email, readonly: true%><br>
    <% end%>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>