<%= form_with model: blog_post do |form| %>
  <% if form.object.errors.any? %>
  <div>
  <% form.object.errors.full_messages.each do |message| %>
  <div> <%= message%> </div>
  <% end%>
  </div>
  <% end%>
<div>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
</div>

<div>
  <%= form.label :body %><br>
  <%= form.text_area :body %>
</div>

<div>
  <%= form.label :thumbnail %> <br>
  <%= form.file_field :thumbnail, accept: 'image/png, image/jpg' %>
</div>

<div>
  <%= form.button %>
</div>

<% end %>