<% if user_signed_in?%>
    <%= link_to "All Your Posts", '/users' %>
    <br><%= link_to "New Post" ,  '/blog_posts/new' %>
<%end%>

<div class="container">
    <h1> Home Page</h1>
    <% @blog_posts.each do |blog_post| %>
        <% if blog_post.delete_flag != true%>
            <div>
            <h2><%= blog_post.title %></h2>
            <h6> Posted <%= time_ago_in_words(blog_post.created_at)%> </h6>
            <% if blog_post.thumbnail?%>
                <%= image_tag blog_post.thumbnail.url , style: "height:100px; width: 100px;" %>
            <%end%>
            <h6> <%=link_to "Read More About It", "/blog_posts/#{blog_post.id}" %></h6>
            <br>
            </div>
        <% end %>
    <% end%>
</div>
